In [9]:
import pandas as pd

#Import data
data = pd.read_csv("shelter-animal-outcomes/train.csv.gz")

#Set cols to view 50
pd.set_option('display.max_columns', 50)

#Look at data
#print(data.head(10))
#data.describe()

#Cleaning

#Drop NAs
data = data.drop(['OutcomeSubtype', 'Name'],axis=1).dropna()

#Code Age
data['AgeNumeric']=data['AgeuponOutcome'].str.split(" ", n = 1, expand = True)[0].astype('float')
data['AgeString']=data['AgeuponOutcome'].str.split(" ", n = 1, expand = True)[1]
data.loc[data['AgeString'].str[0]=='y' , 'AgeInDays'] = data['AgeNumeric']*365.25
data.loc[data['AgeString'].str[0]=='w' , 'AgeInDays'] = data['AgeNumeric']*7
data.loc[data['AgeString'].str[0]=='m' , 'AgeInDays'] = data['AgeNumeric']*(365.25/12)
data.loc[data['AgeString'].str[0]=='d' , 'AgeInDays'] = data['AgeNumeric']


# Code state and sex 
data["Intact"] = data["SexuponOutcome"].str.split(" ", n = 1, expand = True)[0] 
data["Sex"]= data["SexuponOutcome"].str.split(" ", n = 1, expand = True)[1]

#Date time stuff
data['date_year'] = data['DateTime'].str[0:4]
data['date_month'] = data['DateTime'].str[5:7]
data['date_day'] = data['DateTime'].str[8:10]

#Color

#Get top 10 colors
data["Color"] = data["Color"].str.replace('/',
                                          ' ')
color_freq = data["Color"].str.split(expand=True).stack().value_counts()[:10]
print(color_freq)

#Create top 10 color cols
for i in range(0 , color_freq.count()):
    data.loc[data["Color"].str.find(color_freq.index[i])>-1,color_freq.index[i]] = 1
    data[color_freq.index[i]].fillna(0, inplace=True)

#Breed
    
#Get top 10 breed combine 4 of top words as they mainly occur together
data["Breed"] = data["Breed"].str.replace('/',
                                          ' ')
data["Breed"] = data["Breed"].str.replace('Domestic Shorthair',
                                          'DomesticShorthair')
data["Breed"] = data["Breed"].str.replace('Pit Bull',
                                          'PitBull')

breed_freq = data["Breed"].str.split(expand=True).stack().value_counts()[:10]
print(breed_freq)

#Create top 10 breed cols
for i in range(0 , breed_freq.count()):
    data.loc[data["Breed"].str.find(breed_freq.index[i])>-1,breed_freq.index[i]] = 1
    data[breed_freq.index[i]].fillna(0, inplace=True)    

#Drop unnecessary vars
data = data.drop(['SexuponOutcome',
                  'AgeuponOutcome',
                  'AgeNumeric',
                  'AgeString',
                  'Color',
                  'DateTime',
                  'Breed'],
                  axis=1)

data.head()

White       12193
Black        8033
Brown        6693
Tabby        5181
Tan          3031
Blue         2355
Orange       1440
Brindle      1021
Red           991
Tricolor      912
dtype: int64
Mix                  22280
DomesticShorthair     8955
Chihuahua             2591
Retriever             2460
Shorthair             2442
PitBull               2395
Labrador              2275
Terrier               1673
Domestic              1431
Shepherd              1398
dtype: int64

,AnimalID,OutcomeType,AnimalType,AgeInDays,Intact,Sex,date_year,date_month,date_day,White,Black,Brown,Tabby,Tan,Blue,Orange,Brindle,Red,Tricolor,Mix,DomesticShorthair,Chihuahua,Retriever,Shorthair,PitBull,Labrador,Terrier,Domestic,Shepherd
0,A671945,Return_to_owner,Dog,365.25,Neutered,Male,2014,02,12,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A656520,Euthanasia,Cat,365.25,Spayed,Female,2013,10,13,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,A686464,Adoption,Dog,730.50,Neutered,Male,2015,01,31,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,A683430,Transfer,Cat,21.00,Intact,Male,2014,07,11,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,A667013,Transfer,Dog,730.50,Neutered,Male,2013,11,15,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0