In [1]:
import pandas as pd

#Import data
data = pd.read_csv("shelter-animal-outcomes/train.csv.gz")

#Look at data
#data.head(10)
#data.describe()

#Cleaning

#Drop NAs
data = data.drop(['OutcomeSubtype', 'Name'],axis=1).dropna()

#Code Age
data['AgeNumeric']=data['AgeuponOutcome'].str.split(" ", n = 1, expand = True)[0].astype('float')
data['AgeString']=data['AgeuponOutcome'].str.split(" ", n = 1, expand = True)[1]
data.loc[data['AgeString'].str[0]=='y' , 'AgeInDays'] = data['AgeNumeric']*365.25
data.loc[data['AgeString'].str[0]=='w' , 'AgeInDays'] = data['AgeNumeric']*7
data.loc[data['AgeString'].str[0]=='m' , 'AgeInDays'] = data['AgeNumeric']*(365.25/12)
data.loc[data['AgeString'].str[0]=='d' , 'AgeInDays'] = data['AgeNumeric']

#Code Colors
data["First_Color"] = data["Color"].str.split("/", n = 1, expand = True)[0]
data["Second_Color"] = data["Color"].str.split("/", n = 1, expand = True)[1]

# Code state and sex 
data["Intact"] = data["SexuponOutcome"].str.split(" ", n = 1, expand = True)[0] 
data["Sex"]= data["SexuponOutcome"].str.split(" ", n = 1, expand = True)[1]

#Date time stuff
data['date_year'] = data['DateTime'].str[0:4]
data['date_month'] = data['DateTime'].str[5:7]
data['date_day'] = data['DateTime'].str[8:10]

#Drop unnecessary vars
data = data.drop(['SexuponOutcome','AgeuponOutcome','AgeNumeric','AgeString','Color','DateTime'],axis=1)

data.head()

,AnimalID,OutcomeType,AnimalType,Breed,AgeInDays,First_Color,Second_Color,Intact,Sex,date_year,date_month,date_day
0,A671945,Return_to_owner,Dog,Shetland Sheepdog Mix,365.25,Brown,White,Neutered,Male,2014,02,12
1,A656520,Euthanasia,Cat,Domestic Shorthair Mix,365.25,Cream Tabby,None,Spayed,Female,2013,10,13
2,A686464,Adoption,Dog,Pit Bull Mix,730.50,Blue,White,Neutered,Male,2015,01,31
3,A683430,Transfer,Cat,Domestic Shorthair Mix,21.00,Blue Cream,None,Intact,Male,2014,07,11
4,A667013,Transfer,Dog,Lhasa Apso/Miniature Poodle,730.50,Tan,None,Neutered,Male,2013,11,15